<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="PrimeEagle" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/PrimeEagle/index.json" />
  </packageSources>
</configuration>